run = "npm run fly"
entrypoint = "fly.js"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["node", "fly.js"]
deploymentTarget = "vm"

[userenv]

[userenv.shared]
COINGECKO_DEMO_API_KEY = "CGNXtAKuBsvCwCuZXqheXKQe4X"
FRED_API_KEY = "87480278685f3ba1a92ca31e2f975511"
